<div style="text-align:center">
  <h1>
    Welcome to {{title}}
  </h1>
</div>

<div>
  <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container">
      <div class="collapse navbar-collapse" id="navcol-1">
        <a class="navbar-brand" href="#">My Music</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item" role="presentation"><a class="nav-link" href="https://www.gcu.edu" target="_blank">GCU Home Page</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/create']">Create Album</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/list-artists']" (click)="displayArtistList()">Artist List</a></li>
        </ul>
        <span class="navbar-text actions"><a class="btn btn-light action-button" role="button" href="#" (click)="displayVersion()">Display Version</a></span>
      </div>
    </div>
  </nav>
</div>
<app-list-albums></app-list-albums>
<router-outlet></router-outlet>