<div align="center">
    <div class="card mb-6" style="max-width: 500px">
      <div class="row no-gutters">
        <div class="col-md-4">
          <div style="height: 150px; width: 150px; overflow: hidden">
            <img src="assets/images/{{album.image}}" class="card-img" alt="{{album.title}}" width="150px" height="150px"/>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{album.title}}</h5>
            <p class="cart-text">{{album.description}}</p>
            <p class="card-text"><small class="text-muted">{{album.year}}</small></p>
            <table>
              <tr>
                <td width="50px" align="center">
                  <a href="#" data-bs-toggle="collapse" data-bs-target="#collapseTracks" aria-expanded="false" aria-controls="collapseTracks"><i class="fa fa-music"></i></a>
                </td>
                <td width="50px" align="center">
                  <a [routerLink]="['/edit', album.id]"><i class="fa fa-edit"></i></a>
                </td>
                <td width="50px" align="center">
                  <a [routerLink]="['/delete', album.id]"><i class="fa fa-trash"></i> </a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="collapse" id="collapseTracks" style="margin-left: 50px; margin-right: 50px">
    <div class="card card-body">
      <ul class="list-group-flush">
        <li class="list-group-item" *ngFor="let track of album.tracks">{{track.number}}, {{track.title}}</li>
      </ul>
    </div>
  </div>
  
  