<div class="list-group" *ngIf="selectedAlbum == null">
    <button class="list-group-item" active *ngFor="let album of albums" (click)="onSelectAlbum(album)">
        <table align="center">
            <tr>
                <td width="20%"><img src="assets/images/{{album.Image}}" width="50px" height="50px" /></td>
                <td>{{album.Title}} from {{album.Year}}</td>
            </tr>
        </table>
    </button>
</div>

<app-display-album *ngIf="selectedAlbum" [album]="selectedAlbum"></app-display-album>